.terraform.lock.hcl
main.tfplan
terraform.tfstate
terraform.tfstate.backup
.terraform/modules/modules.json
.terraform/providers/registry.terraform.io/hashicorp/azuread/3.0.2/darwin_arm64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/azuread/3.0.2/darwin_arm64/terraform-provider-azuread_v3.0.2_x5
.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.99.0/darwin_arm64/terraform-provider-azurerm_v2.99.0_x5
.terraform/providers/registry.terraform.io/hashicorp/random/3.6.3/darwin_arm64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/random/3.6.3/darwin_arm64/terraform-provider-random_v3.6.3_x5
.terraform/providers/registry.terraform.io/hashicorp/time/0.12.1/darwin_arm64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/time/0.12.1/darwin_arm64/terraform-provider-time_v0.12.1_x5
modules/compute/main-comp.tfplan
modules/compute/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.7.0/darwin_arm64/LICENSE.txt
modules/compute/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.7.0/darwin_arm64/terraform-provider-azurerm_v4.7.0_x5
modules/compute/.terraform/providers/registry.terraform.io/hashicorp/random/3.6.3/darwin_arm64/LICENSE.txt
modules/compute/.terraform/providers/registry.terraform.io/hashicorp/random/3.6.3/darwin_arm64/terraform-provider-random_v3.6.3_x5
modules/compute/.terraform/providers/registry.terraform.io/hashicorp/time/0.12.1/darwin_arm64/LICENSE.txt
modules/compute/.terraform/providers/registry.terraform.io/hashicorp/time/0.12.1/darwin_arm64/terraform-provider-time_v0.12.1_x5
modules/network/main-net.tfplan
modules/network/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.7.0/darwin_arm64/LICENSE.txt
modules/network/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.7.0/darwin_arm64/terraform-provider-azurerm_v4.7.0_x5
modules/storage/main-sa.tfplan
modules/storage/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.7.0/darwin_arm64/LICENSE.txt
modules/storage/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.7.0/darwin_arm64/terraform-provider-azurerm_v4.7.0_x5
modules/00_storage_backend/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.7.0/darwin_arm64/LICENSE.txt
modules/00_storage_backend/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.7.0/darwin_arm64/terraform-provider-azurerm_v4.7.0_x5
modules/00_storage_backend/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.8.0/darwin_arm64/LICENSE.txt
modules/00_storage_backend/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.8.0/darwin_arm64/terraform-provider-azurerm_v4.8.0_x5
modules/01_network_backend/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.7.0/darwin_arm64/LICENSE.txt
modules/01_network_backend/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.7.0/darwin_arm64/terraform-provider-azurerm_v4.7.0_x5
modules/02_adservices/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.8.0/darwin_arm64/LICENSE.txt
modules/02_adservices/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.8.0/darwin_arm64/terraform-provider-azurerm_v4.8.0_x5
modules/02_adservices/.terraform/providers/registry.terraform.io/hashicorp/random/3.6.3/darwin_arm64/LICENSE.txt
modules/02_adservices/.terraform/providers/registry.terraform.io/hashicorp/random/3.6.3/darwin_arm64/terraform-provider-random_v3.6.3_x5
modules/03_avd_compute/.terraform.tfstate.lock.info
modules/03_avd_compute/.terraform/providers/registry.terraform.io/hashicorp/azuread/3.0.2/darwin_arm64/LICENSE.txt
modules/03_avd_compute/.terraform/providers/registry.terraform.io/hashicorp/azuread/3.0.2/darwin_arm64/terraform-provider-azuread_v3.0.2_x5
modules/03_avd_compute/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.7.0/darwin_arm64/LICENSE.txt
modules/03_avd_compute/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.7.0/darwin_arm64/terraform-provider-azurerm_v4.7.0_x5
modules/03_avd_compute/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.8.0/darwin_arm64/LICENSE.txt
modules/03_avd_compute/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.8.0/darwin_arm64/terraform-provider-azurerm_v4.8.0_x5
modules/03_avd_compute/.terraform/providers/registry.terraform.io/hashicorp/random/3.6.3/darwin_arm64/LICENSE.txt
modules/03_avd_compute/.terraform/providers/registry.terraform.io/hashicorp/random/3.6.3/darwin_arm64/terraform-provider-random_v3.6.3_x5
modules/03_avd_compute/.terraform/providers/registry.terraform.io/hashicorp/time/0.12.1/darwin_arm64/LICENSE.txt
modules/03_avd_compute/.terraform/providers/registry.terraform.io/hashicorp/time/0.12.1/darwin_arm64/terraform-provider-time_v0.12.1_x5
.terraform/providers/registry.terraform.io/azure/azapi/2.0.1/darwin_arm64/terraform-provider-azapi_v2.0.1
.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.9.0/darwin_arm64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.9.0/darwin_arm64/terraform-provider-azurerm_v4.9.0_x5
.terraform/providers/registry.terraform.io/hashicorp/local/2.5.2/darwin_arm64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/local/2.5.2/darwin_arm64/terraform-provider-local_v2.5.2_x5
.DS_Store
